* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: rgb(1, 4, 32);
  color: white;
}

.textArea {
  text-align: center;
  padding-top: 5%;
}

#BTCprice {
  color: rgb(31, 194, 31);
  font-size: 50px;
  margin-top: 150px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px;
  text-align: right;
}

.madeBy {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  text-align: right;
}

.madeBy a {
  color: rgb(31, 194, 31);
  text-decoration: none;
  transition: 0.3s;
}

.madeBy a:hover {
  color: rgb(14, 112, 14);
}

.nav {
  /* border: 1px solid red; */
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  text-align: right;
  padding: 20px;
}

.aboutLink {
  transition: 0.3s;
  text-decoration: none;
  color: rgb(31, 194, 31);
  margin-right: 50px;
}

.aboutLink:hover {
  color: rgb(14, 112, 14);
}

.inDepthDetails {
  transition: 0.3s;
  text-decoration: none;
  color: rgb(31, 194, 31);
}

.inDepthDetails:hover {
  color: rgb(14, 112, 14);
}

/* about page css */

.textAreaAbout {
  text-align: center;
  padding-top: 15%;
  font-size: 25px;
}

.backToBitcoin {
  text-decoration: none;
  color: rgb(31, 194, 31);
  transition: 0.3s;
}

.backToBitcoin:hover {
  color: rgb(14, 112, 14);
}

/* extra details page */

.tradingview-widget-container {
  /* border: 1px solid red; */
  text-align: center;
}

.backInDepthDetails {
  text-decoration: none;
  position: relative;
  margin-left: 48%;
  font-size: 20px;

  color: rgb(31, 194, 31);
  transition: 0.3s;
}

.backInDepthDetails:hover {
  color: rgb(14, 112, 14);
}
